﻿<div class="jumbotron">
    <h1>Reactive Web API Demo</h1>
    <!--<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Example table</h2>
        <table id="rxTable" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>User Id</th>
                    <th>Username</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section scripts {
<script type="text/javascript">
    $(document).ready(function () {
        var last_response_len = false;
        $.ajax('http://localhost:62479/rxapi/Values', {
            xhrFields: {
                onprogress: function (e) {
                    var this_response, response = e.currentTarget.response;
                    if (last_response_len === false) {
                        this_response = response;
                        last_response_len = response.length;
                    }
                    else {
                        this_response = response.substring(last_response_len);
                        last_response_len = response.length;
                    }
                    
                    var obj = $.parseJSON(this_response);
                    var row = $('<tr>');
                    row.append($("<td>").html(obj.Id));
                    row.append($("<td>").html(obj.Username));

                    $("#rxTable").append(row);
                }
            }
        })
        .done(function (data) {
            alert("Table load complete!");
        })
        .fail(function (data) {
            alert("Error loading table: " + data);
        });
    });
</script>
}